
<!-- Homepage -->

<h1>How do you want to tell your story?</h1>
<h2>Click an option below...</h2>

<div id="gallery">
	<ul>
		<li><a href="/write_a_story">Write a Story</a></li>
		<li><a href="/write_a_photo_story">Upload a Photo Story</a></li>
		<li><a href ="#">Record a Video Story</a></li>
	</ul>
</div>