
<!-- Homepage -->

<div id="gallery">
	<ul>
		<li><a href="/write_a_story">Write a Story</a></li>
		<li><a href="/write_a_photo_story">Write a Photo Story</a></li>
		<li><a href ="#">Write a Video Story</a></li>
	</ul>
</div>