<% title "Home" %>
<!-- Homepage -->

<h1>How do you want to tell your story?</h1>

<div id="gallery">
	<ul>
		<li><a href="/write_a_story"><p><i class="icon-pencil home_icons"></p></i><p>Write a Story</p></a></li>
		<li><a href="/write_a_photo_story"><p><i class="icon-camera home_icons"></p></i><p>Upload a Photo Story</p></a></li>
		<li><a href ="/record_a_video_story"><p><i class="icon-facetime-video home_icons"></p></i><p>Record a Video Story</p></a></li>
	</ul>
</div>