<h1>I want to upload a video related to ...</h1>

	<ul class ="categories">
	<% @categories.each do |category| %>

	    <li><%= link_to category.name, new_video_url( category_id: category.id ), :method  => "get" %></li>
	 
	<% end %>
 </ul>

<div class="clear"></div>
