<% title "Write a Story" %>

<h1>I want to write about ...</h1>
<ul class="categories">
	<% @categories.each do |category| %>
	    <li><%= link_to category.name, new_text_story_url( category_id: category.id ), :method  => "get" %></li>
	<% end %>
</ul>