<h1>I want to write about ...</h1>

<div class="category">
	<% @categories.each do |category| %>
	<ul>
	    <li><%= link_to category.name, new_photo_url( category_id: category.id ), :method  => "get" %></li>
	  </ul>
	<% end %>
</div>

<div class="clear"></did>

<p><%= link_to 'New Category', new_category_path %></p>

<p><%= link_to 'My Photo Stories', photos_url %></p>